.sidebar{
    background-color: var(--surface);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 250px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-footer {
  margin-top: auto;
}